body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.header,
.section-1 {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
}

.header-logo {
  margin: 0px;
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.section-1 {
  padding: 64px 64px;
  display: flex;
  gap: 16px;
}

.hero-container,
.hero-image {
  flex: 1 1 0;
}

.hero-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
  margin: 0px;
}

.hero-subtext {
  color: #E5E7EB;
  font-size: 18px;
  margin: 8px 0px 16px 0px;
}

.hero-button {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  color: #F9FAF8;
  font-weight: 900;
  padding: 8px 24px;
  font-size: 18px;
}

.hero-image {
  color: #E5E7EB;
  background-color: #e5e7eb60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 {
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.info-header {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 152px;
}

.info-image {
  border: 3px solid #3882F6;
  border-radius: 8px;
  height: 152px;
  width: 152px;
}

.info-text {
  color: #1F2937;
  text-align: center;
}

.section-3 {
  padding: 64px 128px;
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
}

.quote-text {
  color: #1F2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-name {
  color: #1F2937;
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  padding: 0px 16px;
}

.section-4 {
  margin: 64px 64px;
  padding: 32px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
}

.call-container {
  display: flex;
  flex-direction: column;
}

.call-text {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

.call-subtext {
  color: #E5E7EB;
  font-size: 18px;
}

.call-button {
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  border-radius: 8px;
  color: #F9FAF8;
  font-weight: 900;
  padding: 8px 24px;
  font-size: 18px;
}


