body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.header,
.section-1 {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
}

.header-logo {
  margin: 0px;
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.section-1 {
  padding: 64px 64px;
  display: flex;
  gap: 16px;
}

.hero-container,
.hero-image {
  flex: 1 1 0;
}

.hero-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
  margin: 0px;
}

.hero-subtext {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  margin: 8px 0px 16px 0px;
}

.hero-button {
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  color: #F9FAF8;
  font-weight: 900;
  padding: 8px 24px;
}

.hero-image {
  color: #E5E7EB;
  background-color: #e5e7eb60;
  display: flex;
  justify-content: center;
  align-items: center;
}