body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.header,
.section-1 {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
}

.header-logo {
  margin: 0px;
  color: white;
  font-size: 24px;
  font-weight: 900;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.section-1 {
  padding: 16px 64px;
}

.hero-text {
  color: white;
}